[user]
	name = Robert Haines
	email = rhaines@manchester.ac.uk
[github]
	user = hainesr
[core]
	autocrlf = input
	safecrlf = true
	editor = vim
	excludesfile = ~/.gitignore
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space
[rerere]
	enabled = true
[color]
	diff = auto
	status = auto
	branch = auto
[merge]
	tool = p4merge
	log = true
[push]
	default = simple
[diff]
	submodule = log
[credential]
	helper = cache
[apply]
	whitespace = fix
