[user]
	name = Robert Haines
	email = rhaines@manchester.ac.uk
[github]
	user = hainesr
[core]
	autocrlf = input
	safecrlf = true
	editor = vim
	excludesfile = ~/.gitignore
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space
[rerere]
	enabled = true
[color]
	diff = auto
	status = auto
	branch = auto
[merge]
	tool = p4merge
	log = true
[push]
	default = simple
[diff]
	submodule = log
	renames = copies
[credential]
	helper = cache
[apply]
	whitespace = fix
[alias]
	# Some of these are nicked from
	# https://github.com/jfrazelle/dotfiles/blob/master/.gitconfig

	# View the current working tree status using the short format
	s = status -s

	# View abbreviated SHA, description, and history graph of the latest 20 commits
	l = log --pretty=oneline -n 20 --graph --abbrev-commit

	# Color graph log view
	graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"

	# Amend the last commit
	amend = commit --amend
